/*   #FFFFFF  */
/*#2E2F42 navy blue*/
/* #434455 text small*/
/* #F4F4FD footer, studio */
/* #4D5AE5 web*/


/*----mains----*/

:root {
    --primary-text-color: #434455;
    --accent-text-color: #2E2F42;
    ;
    --accent: #4D5AE5;
    --soft-white:#F4F4FD;
    --pure-wite: #fff
}

body {
    background-color: var(--soft-white);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}
header{
    background-color: var(--pure-wite);
}
.link {
    text-decoration: none;
}
.logo-web {
    color: var(--accent);
    font-family: Raleway, serif;

    
    font-weight: 800;
    font-size: 18px;
    line-height: 1,17px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio {
    color: var(--accent-text-color);
    font-family: Raleway, serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,17;

    letter-spacing: 0.03em;
    text-transform: uppercase;} 


nav > a.link-webstudio:hover {
    color: red;
}


.list {
    list-style: none;
}

/*----navigation----*/

.site-nav .link {
    color: var(--accent-text-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent);
}


.auth-nav {
    color: var(--primary-text-color);
    font-style: normal;
    
    font-size: 16px;
    line-height: 1,5;

}
.auth-nav .link:hover {
    color: var(--accent-text-color);
    font-style: normal;
    
    font-size: 16px;
    line-height: 1,5;

}
.auth-nav .link:focus {
    color: var(--accent-text-color);
    font-style: normal;
    
    font-size: 16px;
    line-height: 1,5;

}
/*-----hero-----*/

.hero {
    background-color: var(--accent-text-color);
}
.hero-title {
    color: var(--pure-wite);  

    font-weight: 700;
    font-size: 56px;
    line-height: 1,07;
    text-align: center;
}
.hero-button {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    align-items: center;

    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

/*----sections and titles----*/

/*-----advantages-----*/

.advantages-title {
    color: var(--accent-text-color);
    
}

.advantages-title-small {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;

}

.advantages-text {
    color: var(--primary-text-color);
    
    font-size: 16px;
    line-height: 1,5;
}

/*----works----*/
.works {
    background-color: #F5F5F5;
}
.works-title {
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
}

/*---team-----*/

.team {
    background-color: var(--milk-wite);
}
.team-title {
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
}

.team-title-small {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    text-align: center;

}

.team-text {
    color: var(--primary-text-color);
    
    font-size: 16px;
    line-height: 1,5;
    text-align: center;
}

.footer {
background-color: var(--accent-text-color);
}
.footer-text {
    color: var(--soft-white);
    font-size: 16px;
    line-height: 1,5;
}

.logo-studio-footer {
    color: var(--soft-white);
        font-family: Raleway, serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1, 17;
    
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
 /*-----button---*/
 .button {
    color: var(--pure-wite);
    background-color: var(--accent);
    cursor: pointer;
 }

 .button:hover {
    color: var(--accent);
    background-color: var(--milk-wite);

 }
 /*-----PORTFOLIO----*/

 .nav-button {
    color: var(--accent);
    background-color: var(--soft-white);
    font-weight: 500;
    font-size: 16 px;
    line-height: 1,5;
    letter-spacing: 0,04em;
    text-align: center;
    cursor: pointer;
    
 }
 .nav-button:hover {
    color: var(--pure-wite);
    background-color: var(--accent-text-color);
 }
 .gallery-title {
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
 }
 .gallery-titile-small {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    text-align: center;

 }
 .gallery-text {
    color: var(--primary-text-color);
    
    font-size: 16px;
    line-height: 1,5;
    text-align: center;
    }

 